<template name="storyText">
    <div class="story-text">
        <div class="controls">
            <a href="#" class="plus">+</a>
            <a href="#" class="min">-</a>
        </div>
        <h1>
            {{story.title}}
            {{#if isAdmin}}
                <a href="/edit/{{story._id}}">(aanpassen)</a>
            {{/if}}
        </h1>
        <p>
            {{#each story.text}}
                {{#if equals this.type 'text'}}
                    <span>{{breaklines this.text}}</span>
                {{else}}
                    {{#if equals this.type 'variable'}}
                        {{>textNode variable }}
                    {{/if}}
                {{/if}}
            {{/each}}
        </p>
    </div>
</template>