<template name="newStory">
    <div class="edit-story">
        <h1>Maak nieuw verhaal</h1>
            <p>{{{submitMessage}}}</p>
        <h2>Titel</h2>
        <input name="title"/>
        <h2>Beschrijving</h2>
        <textarea name="description"></textarea>
        <h2>Text</h2>
        <h3>Variabelen</h3>
        <div class="variable-toggle">
            <button name="name">Naam</button>
            <button name="time"> Tijd </button>
            <button name="weather"> Weer</button>
            <button name="location"> Locatie </button>
            <button name="userinfo"> Gebruiker </button>
            <button name="predictions"> Gebruiker - voorspellend </button>
        </div>
        <div class="name toggle">
            <h4> Naam</h4>
            <button id="name"> Naam </button>
            <button id="namefirstletter"> Naam - eerste letter </button>
        </div>
        <div class="time toggle">
            <h4> Tijd</h4>
            <button id="time"> Tijd in woorden </button>
            <button id="day"> Dag </button>
            <button id="month"> Maand </button>
            <button id="seconds"> Seconden </button>
            <button id="dayandtime"> Dag en tijd aan elkaar </button>
        </div>
        <div class="weather toggle">
            <h4> Weer</h4>
            <button id="weather"> Weer </button>
            <button id="weatherdescriptive"> Weer - beschrijvend </button>
        </div>
        <div class="location toggle">
            <h4> Locatie</h4>
            <button id="city"> Stad </button>
            <button id="country"> Land </button>
            <button id="street"> Straat </button>
        </div>
        <div class="userinfo toggle">
            <h4> Gebruikers informatie</h4>
            <button id="music"> Muziek </button>
            <button id="education"> Opleiding </button>
            <button id="school"> Naam van school </button>
            <button id="hometown"> Thuisstad </button>
            <button id="work"> Werk </button>
        </div>
        <div class="predictions toggle">
            <h4>Gebruikers informatie - Voorspellingen</h4>
            <button id="big5openess"> Openheid</button>
            <button id="big5stability"> Stabiliteit </button>
            <button id="big5extroversion"> Extrovert/Introvert </button>
            <button id="big5agreeableness"> Bereidheid anderen te helpen </button>
            <button id="big5conscientiousness"> Bewustheid in handelen </button>
            <button id="predictedage"> Geschatte leeftijd </button>
        </div>
        <textarea name="story"></textarea>
        <button id="submit-button">Submit story</button>
    </div>
</template>