<template name="newStory">
    <div class="new-story">
        <h1>Maak nieuw verhaal</h1>
        <p>{{submitMessage}}</p>
        <h2>Titel</h2>
        <input name="title"/>
        <h2>Verhaal</h2>
        <div class="buttons">
            <span>Variablen: </span>
            <button id="name"> Naam </button>
            <button id="namefirstletter"> Naam - eerste letter </button>
            <button id="time"> Tijd in woorden </button>
            <button id="day"> Dag </button>
            <button id="month"> Maand </button>
            <button id="seconds"> Seconden </button>
            <button id="dayandtime"> Dag en tijd aan elkaar </button>
            <button id="weather"> Weer </button>
            <button id="weatherdescriptive"> Weer - beschrijvend </button>
        </div>
        <textarea name="story"></textarea>
        <button id="submit-button">Submit story</button>
    </div>
</template>