<head>
    <title>simple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{> menu}}

    <main>

    <div class="user-account">
        {{#if currentUser}}
            <h1>Welkom bij de app!</h1>
            {{> story}}
        {{else}}
            <h1>Welkom bij de app!</h1>
            <p> Om dit verhaal te kunnen lezen moet je eerst een account aanmaken of inloggen. </p>
            <div id="error"> </div>
            {{> register}}
            {{> login}}
        {{/if}}
    </div>
    </main>
</body>

<!--
Zon uren api
-->