.menu {
    color: #08293B;
    background-color: #E9E9E9;
    margin-right: 0;
    -ms-flex: 0 30em;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
    width: 100%;
    position: fixed;
    transition: 0.5s;

    &.hidden {
        opacity: 0;
    }

    .menu-bar {
        padding: 1em;
        padding-bottom: 0.8em;
    }

    nav {
        clear: both;
        width: 100%;
        max-height: 50em;
        display: block;
        transition: max-height 0.5s;
        position: absolute;
        background-color: #E9E9E9;
        overflow: hidden;
        padding: 0 1em;
        margin-bottom: 1em;
    }

    nav.hidden{
        max-height: 0;
    }

    nav h3 {
        margin-bottom: 0.5em;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h2 {
        font-size: 1.3em;
        margin-bottom: 0;
        display: inline;
        text-align: right;
    }

    button {
        margin-right: 0.5em;
        color: #08293B;
        line-height: 1.5em;
        border: 1px solid #08293B;
        background: none;
        display: inline;
        padding: 0 0.5em;
        background: none;
        border-radius: 10%;
        vertical-align: text-bottom;

        &:hover, &:focus {
            color: #E9E9E9;
            background-color: #08293B;
        }
    }

    a {
        color: #08293B;
    }

    a:hover {
        color: lighten(#08293B, 25%)
    }
}

.logout.non-admin {
    padding: 1em 1em;
    font-size: 0.8em;
}

@media (min-width: 56em) {
    .menu{
        position: relative;
        width: 11em;
        margin-top: 1.5em;
        background-color: transparent;

        button {
            display: none;
        }

        .menu-bar, .user-account{
            padding: 0;
            position: fixed;
        }

        .menu-bar {
            width: 11em;
        }

        .user-account {
            margin-top: 8em;
            width: 11em;
        }

        nav {
            position: fixed;
            width: 11em;
            padding: 0;
            margin-top: 2em;
            background-color: transparent;

            &.hidden {
                max-height: initial;
            }

            h3 {
                margin-bottom: 0;
            }
        }

        ul {
            margin-top: 0.3em;
        }

        h2 {
            float: left;
            display: block;
            margin-bottom: 1em;
        }

        &.reading nav {
            max-height: 0;
        }

        &.reading .menu-bar h2 {
            opacity: 0;
        }

        #back {
            display: none;
        }

        &.reading {
            width: auto;
        }

        &.reading #back {
            display: block;
            float: right;
            margin-right: 1em;
        }
    }
}

@media (min-width: 64.5em) {
    .menu,.menu .user-account, .menu .nav,.menu .menu-bar {
        width: 15em;
    }
}

