<template name="menu">
    <div class="menu">
        <div class="menu-bar">
            <button id="menu-button">Menu</button>
            <h2><a href="/">Contextual Story App</a></h2>
        </div>
        <nav class="hidden">
            {{#if currentUser}}
                <p>
                    Welcome, {{currentUser.profile.name}}<br>
                    {{#if impersonating}}
                        Leest als: {{impersonating}} <a href="#" id='clear'>(clear)</a>
                    {{/if}}
                </p>
            {{/if}}
            <ul>
                {{#if currentUser}}
                    <li><a href="#" class="logout">Log uit</a></li>
                {{/if}}
                {{#if currentUser.profile.isAdmin}}
                    <li><a href="/new">Nieuw verhaal</a></li>
                    <li><a href="/edit">Verhaal aanpassen</a></li>
                    <li><a href="/userlist">Gebruikers lijst</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</template>

