.storiesOverview {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .new-story {
        text-align: center;

        svg {
            height: 2.5em;
            width: 2.5em;
        }

        h3 {
            line-height: 2em;
        }
    }
}