<template name="storiesOverview">
    <div class="storiesOverview">
        <h1>Verhalen</h1>
        <ul>
            {{#if isAdmin}}
                <li class="story-tile new-story">
                    <a href="/new">
                        <svg xmlns="http://www.w3.org/2000/svg" width="79" height="79" viewBox="0 0 78.6 78.6"><path d="M39.3 0C17.6 0 0 17.6 0 39.3c0 21.7 17.6 39.3 39.3 39.3 21.7 0 39.3-17.6 39.3-39.3C78.6 17.6 61 0 39.3 0zM59.4 44H44.9v16.7H33.8v-16.7H19.2V33.8h14.6V18h11.1v15.9h14.5V44z"/></svg>
                        <h3>Nieuw verhaal</h3>
                    </a>
                </li>
            {{/if}}
            {{#each stories}}
                {{>storyTile}}
            {{/each}}
        </ul>
    </div>
</template>