<template name="login">
    <h3>Login of registreer met facebook</h3>
    <button id="facebook-login" class="btn btn-default">Login with Facebook</button>

    <h4>Login als admin</h4>
    <form class="login">
        <h3>Login</h3>
        <label for="loginEmail">Email:</label>
        <input type="email" name="loginEmail">
        <label for="loginPassword">Wachtwoord:</label>
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form> -->
</template>