<template name="appLayout">
    <head>
        <title>simple</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {{> menu}}

        <main>
            {{> yield}}
        </main>
    </body>
</template>
<!--
Zon uren api

Geslacht > specifiek man
            specifiek vrouw
            geslacht van gebruiker
            andere geslacht van grbruiker

'text direct kunnen aanpassen'

3 versies

bij test 1, test 2, test 3

Verhaal order per gebruiker aanpassen.



-->
